.login {
    display: grid;
    background-color: black;
    height: 100vh;
    place-items: center;
  }
  
  .login > img {
  height: 200px;
  }
  
  .login__btn {
  color: white;
  text-decoration: none;
  padding: 30px;
  border-radius: 50px;
  border: none;
  font-size: 30px;
  font-weight: bold;
  background-color: #1db954;
  }
  